<h1 class="class mt-3">Pipe <small>Angular</small> </h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Valible</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> {{nombre}}</th>
                    <th> uppercase</th>
                    <th> {{nombre | uppercase}}</th>
                </tr>

                <tr>
                    <th> {{nombre}}</th>
                    <th> lowercase</th>
                    <th> {{nombre | lowercase}}</th>
                </tr>

                <tr>
                    <th> {{nombre}}</th>
                    <th> slice:3</th>
                    <th> {{nombre | slice:3}}</th>
                </tr>

                <tr>
                    <th> {{nombre}}</th>
                    <th> slice:0:3</th>
                    <th> {{nombre | slice:0:3}}</th>
                </tr>

                <tr>
                    <th> {{arreglo}}</th>
                    <th> slice:0:5</th>
                    <th> {{arreglo | slice:0:5}}</th>
                </tr>

                <tr>
                    <th> {{PI}}</th>
                    <th> number:'1.0-0'}</th>
                    <th> {{PI | number:'1.0-0'}}</th>
                </tr>

                <tr>
                    <th> {{PI}}</th>
                    <th> number:'.0-2'</th>
                    <th> {{PI | number:'.0-2'}}</th>
                </tr>

                <tr>
                    <th> {{porcentaje}}</th>
                    <th> percent</th>
                    <th> {{porcentaje | percent}}</th>
                </tr>

                <tr>
                    <th> {{porcentaje}}</th>
                    <th> percent:'2.2-2'</th>
                    <th> {{porcentaje | percent:'2.2-2'}}</th>
                </tr>

                <tr>
                    <th> {{salario}}</th>
                    <th> currency</th>
                    <th> {{salario | currency}}</th>
                </tr>

                <tr>
                    <th> {{salario}}</th>
                    <th> currency:'CLP'</th>
                    <th> {{salario | currency:'CLP'}}</th>
                </tr>


                <tr>
                    <th> {{salario}}</th>
                    <th> currency:'CAD':'symbol':'.0-0'</th>
                    <th> {{salario | currency:'CAD':'symbol':'.0-0'}}</th>
                </tr>


                <tr>
                    <th> {{valorPromesa}}</th>
                    <th> valorPromesa |async</th>
                    <th> {{valorPromesa |async}}</th>
                </tr>

                <tr>
                    <th> {{fecha}}</th>
                    <th> date</th>
                    <th> {{fecha | date}}</th>
                </tr>

                <tr>
                    <th> {{fecha}}</th>
                    <th> date:'medium'</th>
                    <th> {{fecha | date:'medium'}}</th>
                </tr>
                <tr>
                    <th> {{fecha}}</th>
                    <th> date:'short'</th>
                    <th> {{fecha | date:'short'}}</th>
                </tr>


            </tbody>
        </table>


        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo |slice:0:3">{{item}}</li>
        </ul>

        <h3>JSON</h3>
        <hr>
        <div class="row">
            <div class="col">
                <pre> {{persona | json}}</pre>
               
            </div>
        </div>
    </div>
</div>